/* Base styling for your toggle button */
#text-resize-btn {
    background-color: #395756;
    border: 2px solid rgb(255, 170, 1);
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s;
}

#text-resize-btn:hover, 
#text-resize-btn:focus-visible {
    background-color: rgb(210, 147, 21);
    border: 2px solid #395756;
    color: black;
}

body.large-text {
    font-size: 1.25rem; /* Bumps up base text size by 25% */
}

body.large-text h2,
body.large-text h3 {
    font-size: 2.5rem;  /* Scales headers up perfectly alongside body text */
}





/* open/close button */

.status-badge {
    display: inline-block;
    padding: 2px 6px;
    font-size: 0.85rem;
    font-weight: bold;
    border-radius: 14px;
    margin-left: 8px;
}

/* Green badge for open */
.status-open {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

/* Red badge for closed */
.status-closed {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}



/* Skip to Main */

.skip {
    position: absolute;
    left: 8px;
    top: 8px;
    background-color: var(--dark-blue-green);
    color: var(--light-grey);
    padding: 8px 14px;
    border: 2px solid var(--gold);
    font-weight: bold;
    z-index: 1000;
    transform: translateX(-200%);
    transition: transform 0.2s ease;
}

.skip:focus-visible {
    transform: translateX(0);
    outline: 2px solid var(--gold);
}



/* Jump to Top */

.jump-top {
  position: fixed;
  bottom: 18px;
  right: 18px;
  width: 48px;
  height: 48px;
  border: 4px solid var(--gold);
  border-radius: 50%;
  background-color: var(--dark-blue-green);
  color: var(--gold);
  font-weight: bold;
  font-size: 30px;
  line-height: 1;
  transition: background-color 0.2s ease,
              transform 0.2s ease;
}

.jump-top:hover,
.jump-top:focus-visible {
  background: var(--gold);
  color: black;
  border: 4px solid black;
  font-weight: bold;
  font-size: 30px;
}