:root {
    --grey: #888888;
    --dark-blue-green: #395756;
    --dark-green: #1e2516;
    --sand: #e8e9d6;
    --heading-color: #1B3022;
    --gold: #d4af37;
    --white: #ffffff;
    --light-grey: #dfdbdb;
}

.gallery {
    display: grid;
    grid-template-columns: 90%;
    justify-content: space-evenly;
    gap: 0.5rem; /* space between the images in the grid */
    margin: 0 auto; /* sets top & bottom margins of the element to 0 & centers it within its parent element  */
}

.gallery img {
    width: 100%;
    height: auto; /* so image doesn't stretch */
    margin-bottom: 1rem; /* adds space underneath each image */
    border: solid 4px var(--dark-blue-green);
    border-radius: 5%; /* rounds the edges */
    box-shadow: 5px 7px 4px var(--grey); /* x-offset, y-offset, blur color */
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05);  /* image grows to 105% of its normal size */
    cursor: pointer;  /* changes the mouse cursor to a hand icon, indicating the image is clickable */
}

@media (prefers-reduced-motion: reduce) {
  .gallery img {
    transition: none;  /* allows motion to be turned off */
  }
  .gallery img:hover{
    transform: none; 
  }
}

@media screen and (min-width: 768px){
    .gallery {
    grid-template-columns: repeat(3, 1fr); /* changes the .gallery grid into 3 columns */
    gap: 1rem;
  }

  .odd img:last-child { /* targets the last image on index.html */
    grid-column: 2/3; /* places it in column line 2 to column line 3 */
  }           /* places the picture in the middle column to center it */

  .last_2,   /* used for howth, aran islands, glendalough pages */
  .middle2,
  .small {
    grid-column: 1/-1;  /* makes the element span across the full 3-column grid */
    display: flex;  /* turn into flexbox containers; now lines up horizontally */
    justify-content: center;  /* centers images horizontally */
    gap: 0.5rem; /* space btwn images */
    width: 100%;
  }

  .last_2 img,
  .middle2 img,
  .small img {
    width: 31%;
    height: auto;
  }
}

main {
    max-width: 1000px;
    margin: 30px auto; /* Centers the text and gives space from the grid */
    padding: 0 20px;  /* prevents text from touching screen edges on mobile */
}

body {
    margin: 0;  /* removes browswer's default body margin */
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: var(--dark-green);
    line-height: 1.6;
    background-color: var(--sand);
}

h1, h2, h3 {
    font-family: 'Georgia', serif;
    color: var(--heading-color);
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.2;
}

h1 {
  font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

ul {
  padding-left: 2rem; /* for indentation */
  margin-bottom: 1.5rem;  /* adds spacing after lists */
}

li {    /* adds spacing between list items */
  margin-bottom: 0.5rem;
}

nav ul {    /* for reset purposes */
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 1.5rem;
}

.guide-topic {
    margin-bottom: 50px;  /* spacing between text blocks */
    border-left: 4px solid var(--gold);
    padding-left: 20px;  /* space between text & gold sidebar */
}

nav {
    background-color: var(--dark-blue-green);
    padding: 20px;  /* space inside the navbar on all sides */
    border-top: 4px solid var(--gold);
    border-bottom: 4px solid var(--gold);
}

.nav-container {
    display: flex;
    flex-direction: column;  /* vertical stack */
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto; /* centers the container horizontally; 0 top/bottom & auto left/right */
}

.nav-container a {
    color: var(--white);
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
}

.nav-places {
    list-style: none; /* gets rid of bullet points */
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 0;   /* removes browswer default */
}

.nav-places a {
    color: var(--light-grey);
    text-decoration: none;
    font-size: 20px;
    display: block; /* Expands target clickable area for thumbs */
    padding: 10px;
}

nav a:hover,
nav a:focus-visible {
    color: var(--gold);
    outline: 2px dashed var(--gold);
}

@media screen and (min-width: 768px) {
    .nav-container {
        flex-direction: row; /* Side-by-side row alignment */
        justify-content: space-between;
        align-items: center;
    }

    .nav-places {
        flex-direction: row; /* Places layout horizontally */
        gap: 20px;
    }
}

.nav-container a.active { /* to know where you are on the nav bar */
    color: #ffffff;
    border: 3px solid var(--gold);
    font-weight: bold;
    padding: 4px;
}

footer {
    background-color: var(--dark-blue-green);
    text-align: center;
    padding: 10px;
    border-top: 4px solid var(--gold);
    font-size: 20px;
    color: var(--light-grey);
}